.bar {
    background-color: #31c7fe;
    bottom: 0;
    width: 414px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 25px;
}

.icon {
    float: left;
    margin-left: 50px;
}

.icon img {
    height: 40px;
    width: 40px;
}