.activity{
    float: right;
    width: 100%;
    background-color: #f7f7f7;
    height: 54px;
    margin-bottom: 5px;
    border-radius: 50px;
    padding-right: 40px;
    text-align: right;
    font-size: medium;
}