@import '~style/helpers';

.currentTemperature {
    font-size: 60px;
}



.location {
    width: 100%;
    background-color:#dbf5fe;
    color: #2998d3;
    font-weight: bold;
    font-size: xx-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.highLow {
    margin-top: -20px;
    font-size: x-small;
    text-align: right;
    padding-right: 10px;

}
.weatherDescription {
    font-size: x-small;
    padding-left: 1px;
}

.mediaBox{
    width:100%;
    display: table;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f7f7f7;
}

.tempBox{

    float: left;
    text-align: center;
    width:30%;
    height: 1%;

}
.imgBox{
    float: left;
    width: 70%;
    background-size: 100%;
}
