@import '~style/helpers';

.currentTemperature {

    left: 2%;
    font-size: 350%;
    z-index: 1;
}

.CurrentWeatherIMG {
    top: 2%;
    left: 30%;
    z-index: -1;
}

.location {
    width: 100%;
    background-color:#c6f1ff;
    color: rgb(37, 120, 214);
    font-weight: bold;
    font-size: 250%;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.highLow {
    font-size: 50%;
    left: 15%;
}
.weatherDescription {
    left: 7.5%;
    font-size: 15%;
}