.container{
    background-color: white;
    border-radius: 15px;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: aqua;
    display: table;
    width: 75%;

}

.tempInfo{
    background-color: olive;
    float: left;
}

.tempIcon{
    background-color: wheat;
    float: right;
}



.cityName{
	float: left;
	padding: 0px;
    padding-left: 10px;
    background-color: white;
}

.weatherData{
	float: right;
	padding: 0px;
    background-color: grey;
}

.mediaBox{
  width: 100%;
  clear: both;
  display: table;
  background-color: aqua;
}